body {
    background-color: black;
}
h1 {
    font-size: 200%;
    color: greenyellow;
}
h2{
    color: white;
    font-size: 200%;
}
.box{
    display: flex;
    align-items: space-between;

    border-style: groove;
    border-radius: 5px;
}
.box img{
    width: 100px;
    height: 100px;
}
.fotos{
    background-color: lightblue;
    border-style: groove;
    height: 500px;
    border-radius: 5px;
}
