body {
    background-color: black;
}
h1 {
    font-size: 200%;
    color: greenyellow;
}
h2{
    color: white;
    font-size: 200%;
}
.box img{
    position: fixed;
    top: 0px;
    right: 0px;

    width: 100px;
    height: 100px;
}
.box{
    border-style: groove;
    border-radius: 5px;
}
.fotos{
    background-color: lightblue;
    border-style: groove;
    height: 500px;
    border-radius: 5px;
}
